# dependencies
node_modules/

# builds
dist/
.next/
out/
*.tsbuildinfo

# environment / secrets
.env
.env.local
.env.*.local

# misc
coverage/
.DS_Store
*.log

docker-compose.yml.bak
flectra-backup-*.dump


**/__pycache__/
*.pyc


**/__pycache__/
*.pyc

